@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

:root {
    --bg-color: #121212;
    --nav-color: #1a1a1a;
    --nav-shadow: #00000049;
    --code-bg-color: #1a1a1a;
    --about-box-color: #1a1a1a;
    --about-box-highlight-color: #222222;

    --divider-color: #222222;

    --main-color: #6b8cf7;

    --text-color: var(--main-color);
    --text-highlight-color: #99b0fd;
    --text-selection-color: #d4b75531;

    --paragraph-color: #e9e9e9;
    --paragraph-less-important-color: #e9e9e983;
}

* {
    margin: 0px;
    padding: 0px;
}

*::selection {
    background: var(--text-selection-color);
}

body {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    align-content: center;

    background: var(--bg-color);
    color: var(--text-color);

    gap: 5px;

    font-family: 'Montserrat';

    overflow-x: hidden;
}

code {
    background-color: var(--code-bg-color);

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 6px;

    font-family: 'Montserrat';
}

hr {
    width: 100%;

    border: 1.5px solid var(--divider-color);

    margin-top: 10px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;

    color: inherit;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
}

span {
    user-select: none;

    display: inline;
}



/* =============> NAV <============= */

.navbar {
    position: fixed;

    width: 100%;
    height: 10vh;
    
    top: 0px;
    padding-left: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    align-content: center;

    background: var(--nav-color);
    color: var(--text-color);

    filter: drop-shadow(0px 0px 10px var(--nav-shadow));

    border-bottom: 2px solid var(--main-color);

    user-select: none;

    z-index: 10;
}

.nav-left {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    font-family: 'Montserrat';
    font-size: 18px;

    gap: 20px;
}

.nav-left:hover {
    cursor: pointer;
}

.nav-logo {
    height: 70%;
}

.nav-title-box {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.nav-title {
    color: var(--text-color);
    font-size: 30px;
}

.nav-version {
    font-family: 'Montserrat';
    font-weight: 400;

    font-size: 16px;
}

.nav-right {
    list-style: none;

    width: 100%;
    height: 100%;

    margin-right: 4%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-end;
    align-items: center;
    align-content: center;

    font-family: 'Montserrat';

    gap: 30px;
}

.nav-element {
    width: auto;
    height: 50%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-link {
    color: var(--text-color);

    font-size: 20px;
    font-weight: 500;

    transition: .5s;
}	

.nav-link:hover {
    cursor: pointer;

    transition: .5s;

    color: var(--text-highlight-color);
}



/* =============> ABOUT <============= */

.about-page {
    width: 100%;
    height: 63vh;

    padding-top: 20vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.about-content {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.about-title {
    font-family: 'Montserrat';
    font-size: 50px;

    color: var(--text-color);
}

.about-text {
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    text-align: center;

    gap: 20px;

    font-family: 'Montserrat';
    font-size: 18px;

    color: var(--paragraph-color);
}

.about-links {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: flex-start;
    align-content: center;

    gap: 20px;
}

.about-box {
    width: 170px;
    height: 170px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 20px;

    background-color: var(--about-box-color);

    border: var(--main-color) 2px solid;
    border-radius: 12px;

    gap: 10px;

    transition: .5s;
}

.about-box:hover {
    cursor: pointer;

    transition: .5s;
    
    filter: drop-shadow(0px 10px 10px #000000);
    transform: translateY(-10px);

    background-color: var(--about-box-highlight-color);
}

.about-box-icon {
    height: 40px;
}

.about-box-title {
    font-family: 'Montserrat';
    font-size: 16px;

    color: var(--text-color);
    text-align: center;
}



/* =============> CHANGELOG <============= */

.changelog-page {
    width: 100%;
    height: 80vh;

    padding-top: 20vh;
    margin-bottom: 10vh;

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.changelog-content {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;

    margin-bottom: 70px;
}

.changelog-content hr {
    margin-bottom: 20px;
}

.version-title {
    font-family: 'Montserrat';
    font-size: 30px;

    color: var(--text-color);

}

.version-text {
    width: 100%;
    height: 100%;

    display: inline;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    font-family: 'Montserrat';
    font-size: 18px;

    color: var(--paragraph-color);
}

.inline-link {
    color: var(--text-highlight-color);
}



/* =============> FOOTER <============= */

.footer {
    width: 100%;
    height: 10%;

    margin-top: 30px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    background: transparent;
    color: var(--text-color);

    font-family: 'Montserrat';
}

.footer-logo {
    height: 100px;

    filter: grayscale(100%) hue-rotate(290deg);

    transition: .5s;
}

.footer-logo:hover {
    cursor: pointer;
    transition: .5s;

    filter: grayscale(0%) hue-rotate(290deg);

    transform: translateY(-5px);
}



/* =============> SCROLLBAR <============= */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    z-index: 1;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff49;
    border: 0px none transparent;
    border-radius: 72px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff85;
}

::-webkit-scrollbar-thumb:active {
    background: var(--main-color);
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none transparent;
    border-radius: 49px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}